@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 20px;
}
.jgform{
    width: 600px;
    height: 600px;
    border: 1px solid red;
    margin: 30px auto;
    padding: 30px;
}

